{% extends "layout.html" %}
{% block content %}
<div class="container">
{% if message %}
  <p class="message">{{ message }}</p>
{% elif errormessage %}
  <p class="errormessage">{{ errormessage }}</p>
{% endif %}

  <h2>登録一覧</h2>
  <form action="/delete" method="post" class="work-list">
    <div id="todolist">
    {% for word in words %}
      <p>
        <label><input type="checkbox" name="delwords" value="{{ word }}">{{ word }}</label>
      </p>
    {% endfor %}
    </div>

    <p>
      <button type="submit" class="btn btn-danger">チェックしたタスクを削除</button>
    </p>
  </form>
    
  <p>※登録は非同期。削除は同期で確認画面経由にしてみる。</p>
  <hr>

  <h2>登録フォーム</h2>
  <form>
    <input type="text" name="add" id="input-data">
    <button type="button" class="btn btn-primary" id="ajax-add">追加</button>
  </form>

</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="/static/js/todoadd.js"></script>
{% endblock %}
